/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
  font-family: 'Poppins';
}

  
  nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #424242;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

/* Styling Logo*/

 .logo{
    padding: 3vh 3vw;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

/*  .logo img{
    height: auto;
    width: 4rem;
} */

/* Styling Navigation Links*/

.nav-links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    color: white;
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}

.nav-links li a:hover{
    color: rgb(250,67,53);
    font-weight: bold;
    padding: 10px;
}

.nav-links li{
    position:relative;
}

.nav-links li a:hover::before{
    width: 80%;
}




/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        background: #424242;
        position: fixed;
        opacity: 1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 80% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    /* Navigation Bar Icon on Click*/

        .toggle .bars1{
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .bars2{
            transition: all 0s ease;
            width: 0;
        }

        .toggle .bars3{
            transform: rotate(45deg) translate(-5px, -6px);
        }

}
    
 






/* header slider section */
.header-slider{
	position: relative;
	width: 100%;
}
.slide{
	height: 80vh;
	display: none;
	overflow: hidden;
}
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: transparent;
	transition: 0.1s;
	user-select: none;
}
.next{
	right: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /slide add fade */
/* 3 */
.slide .txt{
	position: absolute;
	color: black;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: white;
  text-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
  color: white;
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.slide img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
  }
@media screen and (max-width: 600px){
	.slide{
		height: 80vh;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		/* left: 20%; */
    margin-left: 25%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}
	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}
	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}
	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 20px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}


.about{
  margin: 5% 3%;
}
.about h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.about-content{
  border: 1px solid wheat;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-left{
  width: 45%;
}
.about-left img{
  object-fit: cover;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  padding: 5% 2% 2% 2%;
  margin-left: 5%;
}
.about-right{
  width: 55%;
}
.about-right .about-txt{
  padding-right: 5%;
}
.about-txt .txt-2{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #424242;
}
@media screen and (max-width: 600px){
  .about-content .column{
    width: 100%;
  }
  .about-content .about-left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about-right{
    flex: 100%;
  }
  .about-right .about-txt{
    padding: 5%;
  }
}


/* services section */
.service-main{
  max-width: 1200px;
  margin: 5% auto;
}
.service-main h3{
  text-align: center;
  color: #424242;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-bottom: 2px;
}
.service-main img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
  .service-main h3:after{
    color: white;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #9e9d9d 40%, #424242 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}








/* contact section */
.contact-container {
  flex: 0 1 700px;
  margin: 4% auto 3% auto;
  padding: 10px;
}
.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}
.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}
.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item .left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ddd;
  font-size: 26px;
  font-weight: bold;
}
.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 150px;
  height: 4px;
  background: rgb(252, 18, 2);
}
.app-contact {
  margin-top: 15px;
  font-size: 15px;
  color: #888;
}
.contact-icon h3{
  /* display: flex;
  flex-direction: column;
  position: relative; */
  color: #ddd;
  font-size: 22px;
  margin-top: 15px;
}
.contact-icon ul{
  margin-bottom: 10px;
}
.contact-icon ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
.contact-icon ul li a i{
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: rgb(250, 67, 53);
}
.contact-icon ul li a.active, .contact-icon ul li a:hover{
  color: white;
  transition: 1s;
  font-weight: bolder;
}
.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: rgb(252, 18, 2);
}

.app-form-button {
  background: white;
  padding: 10px 20px;
  border: none;
  color: rgb(252, 18, 2);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: rgb(252, 18, 2);
  background: transparent;
  border: 1px solid rgb(252, 18, 2);
}


@media screen and (max-width: 600px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}





  
/* Footer Section */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 10px 50px 10px;
  background-color: #424242;
}
.footer > * {
  flex:  1 100%;
}
h2 {
  font-weight: bold;
  font-size: 15px;
  color: rgb(250, 67, 53);
}
.footer ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5%;
}
.footer li {
  line-height: 1.5em;
}
.footer li a{
  color: white;
}
.footer a {
text-decoration: none;
font-size: 13px;
}
.r-footer {
display: flex;
flex-flow: row wrap;
}
.r-footer > * {
flex: 5 50%;
margin-left: 5%;
}
.box a {
color: white;
}
.box a:hover{
color: rgb(253, 76, 6);
font-weight: bold;
text-decoration: none;
}
.h-box {
column-count: 2;
column-gap: 1.25em;
}
.b-footer {
  color: white;
  padding-top: 30px;
  margin-left: 5%;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .box a:hover{
    color: rgb(253, 76, 6);
    font-weight: bold;
    text-decoration: none;
  }
  .b-footer{
    /* margin: -10% 0 0 0%; */
    margin-left: 5%;
    font-size: 5px;
  }
  .r-footer > * {
    flex: 1;
  }

  .features {
  flex-grow: 2;
  }

  .l-footer {
  flex: 1 0px;
  }

  .r-footer {
  flex: 2 0px;
  }
}
  



#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  font-size: 40px;
  font-weight: bold;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:rgb(250,67,53);
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

  


.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #424242;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: rgb(250,57,63);
    z-index: 9999;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

@media (max-width: 600px){
  .scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    font-size: 25px;
    line-height: 40px;
  }
}

